@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #CCFFBD;
}

header{
    display: flex;
    background-color: #0e0a14;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.categorias, .nombre, .sobre-nosotros, .login{
    width: 200px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

.categorias:hover, .sobre-nosotros:hover, .login:hover{
    background-color: #1C1427;
    cursor: pointer;
}

.cuerpo{
    width: 100%;
    height: 100%;
    background: url(./foto-inicio.jpg), lightgray 50% / cover no-repeat;
}
.texto-circulo{
    margin-left: 650px;
    margin-top: 15%;
    font-size: 65px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
}

.circulo{
    border-radius: 447px;
    background: #1C1427;
    width: 1610px;
    height: 860px;
    flex-shrink: 0;
    margin: 10px;
    position: absolute;
    right: 50%;
}

/* carousel */
