
:root{
    --color1 : #000000;
    --color2 : #0d0c06;
    --color3 : #372d20;
    --color4 : #626043;
    --color5 : #947f6a;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,700;1,800&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #fff;
}

header{
    display: flex;
    background-color: #0e0a14;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.pc{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px; 
}

.nombre{
    margin-right: 300px;
}

.categorias, .nombre, .sobre-nosotros, .login{
    width: 200px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

.categorias:hover, .sobre-nosotros:hover, .login:hover{
    background-color: #1C1427;
    cursor: pointer;
}

.cuerpo{
    width: 100%;
    height: 100%;
    background: url(./foto-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.texto-circulo{
    margin-left: 650px;
    margin-top: 15%;
    font-size: 65px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
}

.circulo{
    border-radius: 447px;
    background: #1C1427;
    width: 1610px;
    height: 860px;
    flex-shrink: 0;
    margin: 10px;
    position: absolute;
    right: 50%;
    margin: 20px;
}

html{
    scroll-behavior: smooth;
}

.mobile{
    display: none;
}

#principal-container{
    display: none;
}
.slider-container{
    background-color: #1C1427;
    width: 100%;
    height: 800px;
    border-radius: 7px;
    display: flex;
    text-align: center;
}
.slider-text{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #1C1427;
    color: white;
    border-radius: 15px;
    margin-top: -10px;
    font-size: 30px;
}

.slider-icons{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    margin: 200px 0 0 50px;
}

.principal-icons{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.secundary-icons{
    display: flex;
    align-items: center;
    gap: 5px;
}

.secundary-icons img{
    width: 43px;
    height: 43px;
}

.user{
    margin-right: -3px;
}

.container-slider-btn{
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-left: 120px;
}

.slider-btn{
    width: 250px;
    background-color: #d51a6d;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.slider-btn:hover {
    background-color: #ae0a53;
}

.mobil{
    display: none;
}

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #e73700;
}
h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}


@media screen and (width <= 765px) {
    header{
        width: 100%;
        height: 80px;
        background-color: #1C1427;
    }

    .pc{
        display: none;
    }
    
    .bodypc{
        display: none;
    }

    .mobile-container{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mobile{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    }

    .mobile h1{
        color: #7ECA9C;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
    }
    
    .nav{
        display: none;
        width: 150px;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        align-items: flex-end;
        background-color: #685a7c;
        position: absolute;
        z-index: 1;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-list li a{
        text-decoration: none;
        color: white;
    }
    
    .menu{
        background-color: #685a7c;
        display: flex;
        border: none;
        border-color: transparent;
        align-items: center;
        border-radius: 5px;
    }
    
    .cerrar-menu{
        background-color: #1C1427;
        border: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: -10px;
        border-radius: 5px;
    }

    .visible{
        display: block;
    }
    
    .botones{
        margin-top: 25px;
        background-color: transparent;
        border: none;
    }

    .botones p{
        color: white;
    }

    .principal-container{
        position: relative;
        z-index: -1;
    }

    .home-container{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        background: url(images/fondo\ home\ page.jpg);
    }
    
    .home-text{
        width: 350px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-top-right-radius: 255px;
        border-bottom-right-radius: 255px;
        background-color: #1C1427;
        padding: 15px;
    }
    
    .home-text p{
        color: #7ECA9C;
        line-height: normal;
        font-weight: 400;
        text-align: center;
        font-size: 28px;
        font-style: normal;
    }

    .slider-text{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: #1C1427;
        color: white;
        border-radius: 15px;
        margin-top: -10px;
    }

    .slider-text h2{
        text-align: center;
        margin-bottom: 15px;
    }

    .slider-text span{
        display: block;
        text-transform: capitalize;
        font-size: 0.8rem;
        color: #c1c1c1;
    }

    .slider-text p{
        text-align: center;
    }

    .slider-icons{
        width: 100%;
        height: 85px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .principal-icons{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .secundary-icons{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .secundary-icons img{
        width: 43px;
        height: 43px;
    }

    .user{
        margin-right: -3px;
    }

    .container-slider-btn{
        display: grid;
        place-content: center;
        margin-top: 10px;
    }

    .slider-btn{
        width: 250px;
        background-color: #d51a6d;
        border: none;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        transition: 0.3s ease-in;
    }

    .slider-btn:hover {
        background-color: #ae0a53;
    }
    
    .bodypc{
        display: none;
    }

}
